version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: fastshop
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  server:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://postgres:postgrespassword@db:5432/fastshop
    depends_on:
      - db
    restart: always

volumes:
  postgres_data:
