version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: fastshop
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  server:
    build: ./server
    ports:
<<<<<<< HEAD
      - "8085:3000"
=======
      - "5050:5050"
>>>>>>> 00e0883f8dcaf83f5cc873ecdaaa0808fe610b8b
    environment:
      - DATABASE_URL=postgres://postgres:postgrespassword@db:5432/fastshop
    depends_on:
      - db
    restart: always

volumes:
  postgres_data:
